*.elc
*.pyc
*~
*.dpyc
*.log
*.class
*.zip
*.js.py
*.bat
dist
tmp
*/SciTE.session
default.db
media
lino.egg-info
.build/
htmlcov
.idea
docs/api/lino_openui5.*
.coverage
.coverage.*
.eggs/
__pycache__

lino_openui5\.egg-info/
